; [submodule "home/awesome/awesome-buttons"]
; 	path = home/awesome/awesome-buttons
; 	url = git@github.com:streetturtle/awesome-buttons.git
;     ignore = dirty
; [submodule "home/awesome/awesome-wm-widgets"]
; 	path = home/awesome/awesome-wm-widgets
; 	url = git@github.com:streetturtle/awesome-wm-widgets.git
;     ignore = dirty
; [submodule "home/awesome/awesome-cyclefocus"]
; 	path = home/awesome/awesome-cyclefocus
;     url = git@github.com:blueyed/awesome-cyclefocus.git
;     ignore = dirty

[submodule "awesome-buttons"]
	path = home/awesome/awesome-buttons
	url = git@github.com:streetturtle/awesome-buttons.git
    ignore = dirty
[submodule "awesome-wm-widgets"]
	path = home/awesome/awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
    ignore = dirty
[submodule "awesome-cyclefocus"]
	path = home/awesome/awesome-cyclefocus
    url = git@github.com:blueyed/awesome-cyclefocus.git
    ignore = dirty
